* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

body {
    width: 900px;
    text-align: center;
    margin: 50px auto;
}

header {
    background-color: rgb(191, 191, 233);
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid blueviolet;
}

h1 {
    color: blueviolet;
    font-weight: bold;
    font-size: 36px;
    padding: 16px;
    text-decoration: underline;
}

form {
    padding: 16px;
}

input, button {
    padding: 12px;
    border: none;
    border-radius: 16px;
    margin: 0 8px;
}

button {
    font-weight: bold;
    background-color: white;
    color: blueviolet;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: blueviolet;
}

input {
    width: 400px;
}

.container {
    background-color: rgb(235, 234, 234);
    padding: 16px;
}

h2 {
    color: blueviolet;
    font-weight: bold;
    margin-bottom: 16px;
    text-decoration: underline;
}

ul li {
    list-style: none;
    padding: 12px;
    border-top: 1px solid gray;
    display: flex;
    justify-content: center;
}

ul {
    border-bottom: 1px solid gray;
}